*__pycache__/
*.idea/*
*datase
checkpoints/*
results/*
.DS_Store
run/
zzz*.py
archive
runs/
envs
admm_research.egg-info/*
/.mypy_cache/
/archive/
/tmp/
tmp/
/parameterSearch/
admm_research/__init__.pyc

/admm_research/dataset/ACDC-2D-All/train/.ipynb_checkpoints/
