*__pycache__/
*.idea/*
*datase
checkpoints/*
results/*
.DS_Store
run/
zzz*.py
archives
runs/
envs
admm_research.egg-info/*
/.mypy_cache/
/archive/
/tmp/
tmp/
/parameterSearch/
admm_research/__init__.pyc
/admm_research/dataset/ACDC-2D-All/train/.ipynb_checkpoints/
/admm_research.egg-info/
tmp.*
admm_research/dataset/ACDC-2D-All/.ipynb_checkpoints/
_zz*.py
/admm_research/dataset/PROSTATE/data.mat
admm_research/dataset/PROSTATE/.ipynb_checkpoints/
admm_research/dataset/PROSTATE/explore_data.ipynb
**/*.mat
/admm_research/postprocessing/file/
